<header class="sticky top-0 left-0 w-full bg-background bg-opacity-80 p-8 z-10">
  <div class="relative w-full max-w-[1280px] mx-auto">

    <!-- Conteneur pour le logo et le menu de navigation -->
    <div class="relative flex flex-col items-center">

      <!-- Logo centré avec superposition du menu -->
      <div class="relative flex flex-col items-center mb-8">
        <img src="/logo-romacair.png" alt="logo romacair" class="w-32 mb-4"/>

        <!-- Menu de navigation superposé sur le logo -->
        <div class="absolute top-full mt-2 flex gap-6  text-primary-green">
          <a href="#" class="hover:text-background hover:bg-primary-green rounded px-4 py-2 whitespace-nowrap">ACCUEIL</a>
          <a href="#" class="hover:text-background hover:bg-primary-green rounded px-4 py-2 whitespace-nowrap">LE CABINET</a>
          <a href="#" class="hover:text-background hover:bg-primary-green rounded px-4 py-2 whitespace-nowrap">PRESTATIONS ET TARIFS</a>
          <a href="#" class="hover:text-background hover:bg-primary-green rounded px-4 py-2 whitespace-nowrap">NOS PARTENAIRES</a>
          <a href="#" class="hover:text-background hover:bg-primary-green rounded px-4 py-2 whitespace-nowrap">CONTACT</a>
        </div>
      </div>

      <!-- Lien réseaux sociaux alignés à droite -->
      <div class="absolute top-0 right-8 flex gap-4">
        <a href="https://www.linkedin.com/in/romain-keryhuel-a0911a209/" class="text-primary-green"
           target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin text-2xl hover:text-secondary-green"></i>
        </a>
        <a href="https://www.instagram.com/romcare_tattoo/" class="text-primary-green"
           target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-square-instagram text-2xl hover:text-secondary-green"></i>
        </a>
        <a href="https://www.facebook.com" class="text-primary-green"
           target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-square-facebook text-2xl hover:text-secondary-green"></i>
        </a>
      </div>

    </div>
  </div>
</header>




<main  class="flex-grow">
  <router-outlet></router-outlet>
</main>

<footer class="w-full p-4 font-normal bg-primary-green">
  <!-- Wrapper centré et limité à 1280px -->
  <div class="max-w-[1280px] mx-auto flex gap-40 p-4 bg-primary-green justify-center">
    <div>
      <h2 class="text-background font-bold pb-2">HORAIRES D'OUVERTURES :</h2>
      <ul class="text-background">
        <li>
          Lundi :
        </li>
        <li>
          Mardi :
        </li>
        <li>
          Mercredi :
        </li>
        <li>
          Jeudi :
        </li>
        <li>
          Vendredi :
        </li>
        <li>
          Samedi :
        </li>
        <li>
          Dimanche :
        </li>
      </ul>
    </div>
    <div>
      <h2 class="text-background font-bold pb-2">CONTACT :</h2>
      <ul class="text-background">
        <ul>
          <li class="flex items-center gap-2 mb-2">
            <i class="fa-duotone fa-solid fa-phone "></i>06 65 94 24 20
          </li>
          <li class="flex items-center gap-2 mb-2">
            <i class="fa-solid fa-envelope"></i>
            <p class="text-background">𝐫𝐨𝐦𝐜𝐚𝐫𝐞𝐭𝐚𝐭𝐭𝐨𝐨&#64;𝐠𝐦𝐚𝐢𝐥.𝐜𝐨𝐦</p>
          </li>
        </ul>

        <li>
          <a href="https://www.doctolib.fr/infirmier/paris/romain-keryhuel" class="text-background font-bold"
             target="_blank" rel="noopener noreferrer">
            <img src="/doctolib.webp" alt="plan d'accès" class="w-20 mb-6 mt-2"/>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="text-background font-bold pb-2">M'Y RENDRE :</h2>
      <P class="text-background"> 10-12 Villa Thoreton, 75015 Paris</P>
      <a href="https://www.google.fr/maps/place/10+Vla+Thoreton,+75015+Paris/@48.8382977,2.2811425,17z/data=!3m1!4b1!4m6!3m5!1s0x47e6700cdeaf43e1:0xcd55b79d0fd8cdba!8m2!3d48.8382942!4d2.2837228!16s%2Fg%2F11c5kqj2f7?entry=ttu&g_ep=EgoyMDI0MDkwOC4wIKXMDSoASAFQAw%3D%3D"
         class="text-background font-bold" target="_blank" rel="noopener noreferrer">
        <img src="/plan.png" alt="plan d'accès" class="w-32 mb-6 mt-2"/>
      </a>
    </div>
  </div>
  <div class=" w-full max-w-[1280px] mx-auto flex flex-col">
    <hr class="bg-background w-3/5 h-px mx-auto my-4">
    <p class="text-center text-background"><small>Copyright 2024 - Tous droits réservés</small></p>
  </div>


</footer>
