<div class="flex flex-col w-full mx-auto items-center">
<div	class="relative w-full h-[10rem] md:h-[15rem] bg-cover bg-center" style="background-image: url('./banner-pages.png')">
	<app-banner [title]="'Tarifs des prestations'"></app-banner>
</div>

	<div class="w-full w-2/3  p-8 md:p-16 flex flex-col  max-w-[1280px]">

		<div class="w-full p-5 mb-4">
			<ul class="space-y-8 text-primary-green">
				<li>
					<h2 class="text-xl md:text-2xl font-bold flex items-center justify-between">
						Première consultation explicative
						<span class="dot-leader"></span>
						<span class="font-bold">50€</span>
					</h2>

					<p class="mt-2 text-sm md:text-lg">
						Explication du principe et déroulement de la dermopigmentation.<br>
						Recueil du consentement, questionnaire de santé, consignes, prise de photos (gros plans).<br>
						Le prix de la consultation est déduit de celui de la dermopigmentation.<br>
						Durée approximative : 1h.
					</p>
				</li>

				<li>
					<h2 class="text-xl md:text-2xl font-bold flex items-center justify-between">Dermopigmentation aréole
						mammaire simple
						<span class="dot-leader"></span>
						<span class=" font-bold">350€</span>
					</h2>
					<p class="mt-2 text-sm md:text-lg">
						Soin pour une seule aréole mammaire.<br>
						Comprenant 2 séances de 2h environ, à intervalle de 45 jours.
					</p>
				</li>

				<li>
					<h2 class="text-xl md:text-2xl font-bold flex items-center justify-between">Dermopigmentation aréole
						mammaire double
						<span class="dot-leader"></span>
						<span class="float-right font-bold">550€</span>
					</h2>
					<p class="mt-2 text-sm md:text-lg">
						Soin pour deux aréoles mammaires.<br>
						Comprenant 2 séances de 2h environ, à intervalle de 45 jours.
					</p>
				</li>

				<li>
					<h2 class="text-xl md:text-2xl font-bold flex items-center justify-between">Retouche
						<span class="dot-leader"></span>
						<span class="float-right font-bold">100€</span>
					</h2>
					<p class="mt-2 text-sm md:text-lg">
						Séance d’entretien du tatouage, 3 ans après la dermopigmentation.<br>
						D’une durée de 1h, permet de densifier les teintes de couleurs.
					</p>
				</li>
			</ul>
		</div>
		<div class="w-full p-5 mb-10">
			<h1 class="font-bold text-xl md:text-2xl my-2">MOYENS DE PAIEMENT</h1>
			<p class="text-sm md:text-lg">Carte Bancaire & Espèces</p><br><br>
			<h1 class="font-bold text-xl md:text-2xl my-2 ">LÉGISLATION</h1>
			<p class="text-sm md:text-lg mb-5">La dermopigmentation médicale doit être exercée par un professionnel de
				santé formé à la technique. Elle peut être réalisée par
				une infirmière au moment du bloc opératoire, ou plus tard, en ambulatoire. [...] Seul le tatouage
				médical est pris en charge et
				remboursable sous conditions par l'Assurance Maladie, à hauteur de 125€ dans le cadre du parcours de
				soins du patient ayant eu une
				mastectomie dans le cadre d’un cancer du sein
			</p>
			<p class="text-sm md:text-lg">
				Code acte CCAM: <strong>QEMA009</strong>
			</p>
		</div>

	</div>
</div>

