<div class="relative bg-primary-green w-full h-[17rem] sm:h-[16rem] md:h-[15rem] lg:h-[18rem] xl:h-[20rem]">
	<!-- Conteneur central -->
	<div class="flex items-center justify-center absolute inset-0 ">
		<!-- Bannière centrée -->
		<div class="flex items-center relative w-full max-w-[1280px] h-full z-5">

			<!-- Image avec film transparent -->
			<div class="relative w-full h-full">
				<!-- Image de la bannière -->
				<img src="./dermo.png" alt="photo de la Bannière" class="object-cover w-full h-full"/>
				<!-- Film transparent couvrant l'image -->
				<div class="absolute inset-0 bg-primary-green opacity-80 z-10"></div>
			</div>

			<div
				class="flex flex-col md:flex-row items-center justify-center absolute inset-0 px-8 sm:px-12 md:px-20 lg:px-32 z-20">
				<!-- Conteneur du texte -->
				<div class="flex flex-col text-center md:text-left max-w-[80%] md:max-w-[60%]">
					<p class="text-fluid-sm text-background text-center mb-2 leading-relaxed md:leading-loose">
						<em>“ Le corps est une œuvre d’art, à nous de l’embellir. “</em>
					</p>
					<p class="text-fluid-sm text-background text-center leading-relaxed md:leading-loose ">
						A travers le tatouage médical, RomCare Tattoo est né de la volonté d’accompagner les patients à
						retrouver leur confiance en soi.
					</p>
				</div>

				<!-- Bouton à droite -->
				<div class="flex-shrink-0 mt-4 md:mt-0 mx-6 sm:mx-12 md:mx-20">
					<app-button
						[additionalClasses]="' !bg-background !text-primary-green border hover:!text-background hover:!bg-primary-green hover:!border-background !mt-0'"
						[text]="'Prendre RDV sur Doctolib'"
						(onClick)="handleRdvClick()">
					</app-button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- section a propos -->
<div class="flex justify-center bg-background w-full h-auto pt-5 pb-16 ">
	<div
		class="flex flex-col md:flex-row justify-between items-center overflow-hidden h-auto w-[90%] md:w-[70%] max-w-[900px] mt-10">
		<!-- Section texte -->
		<div class="flex flex-col text-center justify-center w-full md:w-2/3 p-5 md:pr-20">
			<h1 class="text-primary-green text-fluid-xl mb-4">Romain</h1>
			<p class="text-primary-green text-fluid-sm">
				Infirmier spécialisé en dermopigmentation médicale
			</p>
			<br>
			<p class="text-primary-green text-fluid-sm leading-relaxed"><em>“Passionné de dessin, je me suis spécialisé en
				dermopigmentation médicale de l'aréole mammaire
				après m'être formé en arts visuels. Alliant mes compétences infirmières et artistiques, j’aide
				désormais les patients à retrouver confiance et harmonie corporelle grâce à cette pratique
				innovante.”</em>
			</p>
			<div class="flex-shrink-0">
				<app-button
					[text]="'En savoir plus'"
					[additionalClasses]="'mt-4 md:mt-6'"
					(onClick)="handleAproposClick()">
				</app-button>
			</div>
		</div>
		<!-- Image -->
		<div
			class="order-first md:order-last mt-4 md:mt-0 overflow-hidden rounded-3xl shadow-primary-green shadow-lg m-8">
			<img src="./Portrait-RomCare.png" alt="Portrait de Romain" class=" object-cover w-full "/>
		</div>
	</div>
</div>

<!-- SectionLa dermopigmentation réparatrice -->
<div class="flex justify-center w-full h-auto pt-5 pb-16 bg-secondary-green">
	<div
		class="flex flex-col md:flex-row justify-between items-center h-auto w-[90%] md:w-[70%] max-w-[900px] overflow-hidden mt-10 ">
		<!-- Image -->
		<div class="rounded-3xl shadow-primary-green shadow-lg m-8">
			<img src="./woman.png" alt="Photo illustrant la dermopigmentation médicale" class="object-cover w-full rounded-3xl"/>
		</div>
		<!-- Section texte -->
		<div class="flex flex-col text-center justify-center w-full p-5 md:w-2/3 md:pl-20 ">
			<h1 class="text-background text-fluid-xl mb-4">La dermopigmentation médicale</h1>
			<p class="text-fluid-sm text-background leading-relaxed">
				Est une technique de tatouage dont le but est de recréer le
				mamelon de la manière la plus réaliste.
			</p>
			<app-button
				[additionalClasses]="' !bg-background !text-secondary-green border hover:!text-background hover:!bg-secondary-green hover:!border-background '"
				[text]="'En savoir plus'"
				(onClick)="handleDermopigmentationClick()">
			</app-button>
		</div>
	</div>
</div>

