<div class="flex flex-col items-center w-full mx-auto">
	<div class="relative w-full h-[10rem] md:h-[15rem] bg-cover bg-center"
		 style="background-image: url('./banner-pages.png')">
		<app-banner [title]="'Prendre contact'"></app-banner>
	</div>

	<div class="flex flex-col justify-center items-center text-primary-green w-full max-w-[1280px]  mx-auto">
		<p class="text-center text-fluid-md md:text-lg py-12 md:py-20 px-6 ">RomCare Tattoo vous reçoit sur rendez-vous.</p>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-[1fr_1fr]  max-w-[1280px] gap-x-20 gap-y-10 mb-6 md:mb-20 px-8">

		<!-- MOYENS DE CONTACT -->
		<div class="flex flex-col ">
			<div class="leading-7 text-primary-green">
				<h2 class="text-fluid-lg mb-4">Vous pouvez me contacter directement au:</h2>
				<ul class="text-fluid-sm mb-4 ">
					<li class="flex items-center gap-2 mb-2">
						<i class="fa-duotone fa-solid fa-phone"></i>
						<a href="tel:0665942420" class=" email-style">06 65 94 24 20</a>
					</li>
					<li class="flex items-center gap-2 mb-2">
						<i class="fa-solid fa-envelope"></i>
						<a href="mailto:romcaretattoo@gmail.com" class=" email-style">romcaretattoo&#64;gmail.com</a>
					</li>
				</ul>
				<app-button
					[additionalClasses]="'mt-0 hover:!bg-gray-100 '"
					[text]="'Prendre RDV sur Doctolib'"
					(onClick)="handleRdvClick()">
				</app-button>
			</div>
		</div>

		<!-- HORAIRES D'OUVERTURES -->
		<div class="flex flex-col text-primary-green md:ml-16">
			<h2 class="text-fluid-lg mb-4">Horaires d'ouverture</h2>
			<ul class="text-fluid-sm mb-4 ">
				<li>Lun : 10h - 17h</li>
				<li>Mar : 10h - 17h</li>
				<li>Mer : 10h - 17h</li>
				<li>Jeu : 10h - 17h</li>
				<li>Ven : 10h - 17h</li>
				<li>Sam : Fermé</li>
				<li>Dim : Fermé</li>
			</ul>
		</div>

<!--	</div>-->

<!--	&lt;!&ndash; Plan d'accès &ndash;&gt;-->
<!--	<div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-[1280px]  mb-20">-->
		<div class="flex flex-col">
			<h2 class="text-fluid-lg mb-4">Plan d'accès</h2>
			<p class="text-fluid-sm mb-4">10-12 Villa Thoreton, 75015 Paris</p>
			<div class="w-full h-80 rounded-2xl overflow-hidden shadow-md shadow-primary-green/50 mt-2">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.999709681986!2d2.2837228!3d48.8382942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6700cdeaf43e1%3A0xcd55b79d0fd8cdba!2s10%20Vla%20Thoreton%2C%2075015%20Paris!5e0!3m2!1sfr!2sfr!4v1639064342280!5m2!1sfr!2sfr"
					width="100%"
					height="100%"
					style="border:0;"
					allowfullscreen=""
					loading="lazy">
				</iframe>
			</div>
		</div>

		<div class="flex flex-col md:ml-16">
			<h2 class="text-fluid-lg mb-4">A proximité</h2>
			<p class="text-fluid-sm mb-4">Lignes de métro et de bus facilitant votre accès au cabinet.</p>
			<img src="./metro.png" alt="Station de metro a proximité" class="w-64  my-4 rounded-2xl overflow-hidden shadow-md shadow-primary-green/50"/>
			<img src="./bus.png" alt="Arrêt de bus à proximité" class="w-64 my-4 rounded-2xl overflow-hidden shadow-md shadow-primary-green/50"/>
		</div>
	</div>
</div>



<!-- Formulaire de contact -->
<!--	<div class="flex flex-col  p-5">-->
<!--		<h2 class="font-bold text-lg mb-4">Ou via le formulaire ci-dessous:</h2>-->
<!--		<form class="space-y-4">-->
<!--			<div>-->
<!--				<label for="name" class="block text-sm font-semibold text-gray-700">Nom</label>-->
<!--				<input-->
<!--					type="text"-->
<!--					id="name"-->
<!--					name="name"-->
<!--					class="mt-1 p-2 w-full border border-gray-300 rounded focus:ring-primary-green focus:border-primary-green"-->
<!--					placeholder="Votre nom"-->
<!--					required-->
<!--				/>-->
<!--			</div>-->

<!--			<div>-->
<!--				<label for="email" class="block text-sm font-semibold text-gray-700">Email</label>-->
<!--				<input-->
<!--					type="email"-->
<!--					id="email"-->
<!--					name="email"-->
<!--					class="mt-1 p-2 w-full border border-gray-300 rounded focus:ring-primary-green focus:border-primary-green"-->
<!--					placeholder="Votre email"-->
<!--					required-->
<!--				/>-->
<!--			</div>-->

<!--			<div>-->
<!--				<label for="message" class="block text-sm font-semibold text-gray-700">Message</label>-->
<!--				<textarea-->
<!--					id="message"-->
<!--					name="message"-->
<!--					rows="4"-->
<!--					class="mt-1 p-2 w-full border border-gray-300 rounded focus:ring-primary-green focus:border-primary-green"-->
<!--					placeholder="Votre message"-->
<!--					required-->
<!--				></textarea>-->
<!--			</div>-->

<!--			<div>-->
<!--				<button-->
<!--					type="submit"-->
<!--					class="bg-primary-green text-white py-2 px-6 rounded hover:bg-secondary-green transition duration-300"-->
<!--				>-->
<!--					Envoyer-->
<!--				</button>-->
<!--			</div>-->
<!--		</form>-->
<!--	</div>-->

