<header class="sticky top-0 left-0 w-full bg-background shadow-sm shadow-primary-green p-6 z-30 ">

	<div class="flex justify-between md:grid md:grid-cols-[1fr_128px_1fr] items-center gap-10">
		<!-- Liens de navigation à gauche du logo -->
		<div class="hidden md:flex flex-grow justify-start md:justify-end gap-2 ">
			<a routerLink="/home" class="text-sm md:text-lg  mx-4 my-2 whitespace-nowrap underline-animation"
			   [ngClass]="{'active': isActive('/home')}">
				ACCUEIL
			</a>
			<a routerLink="/la-dermopigmentation"
			   class="text-sm md:text-lg mx-4 my-2 whitespace-nowrap underline-animation"
			   [ngClass]="{'active': isActive('/la-dermopigmentation')}">
				LA DERMOPIGMENTATION
			</a>
		</div>
		<div><img src="./logo-romacair2.png" alt="logo romacair" class="w-20 md:w-32"/></div>
		<div class="flexjustify-end">
			<!-- Liens de navigation à droite du logo -->
			<div class="hidden md:flex flex-grow justify-end md:justify-start gap-2">
				<a routerLink="/tarifs" class="text-sm md:text-lg mx-4 my-2 whitespace-nowrap underline-animation"
				   [ngClass]="{'active': isActive('/tarifs')}">TARIFS</a>

				<a routerLink="/a-propos"  class="text-sm md:text-lg mx-4 my-2 whitespace-nowrap underline-animation"
				   [ngClass]="{'active': isActive('/a-propos')}">A PROPOS</a>

				<a routerLink="/contact" class="text-sm md:text-lg mx-4 my-2 whitespace-nowrap underline-animation"
				   [ngClass]="{'active': isActive('/contact')}">CONTACT</a>

				<a routerLink="/faq" class="text-sm md:text-lg mx-4 my-2 whitespace-nowrap underline-animation"
				   [ngClass]="{'active': isActive('/faq')}">FAQ</a>
			</div>

			<!-- Icône Menu Mobile -->
			<div (click)="toggleMenu()" class="md:hidden p-4">
				<!-- Icone burger de FontAwesome avec la couleur primaire green -->
				<i class="fas fa-bars text-primary-green text-4xl"></i>
			</div>

			<!-- Menu Mobile (affiché/masqué en fonction de isMenuOpen) -->
			<div [ngClass]="{'hidden': !isMenuOpen}" class="md:hidden w-full bg-background absolute top-full left-0 shadow-lg">
				<div class="flex flex-col items-center space-y-2 py-4">
					<a routerLink="/home" (click)="toggleMenu()" class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/home')}">ACCUEIL</a>

					<a routerLink="/la-dermopigmentation" (click)="toggleMenu()"
					   class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/la-dermopigmentation')}">LA DERMOPIGMENTATION</a>
					<a routerLink="/tarifs" (click)="toggleMenu()" class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/tarifs')}">TARIFS</a>
					<a routerLink="/a-propos" (click)="toggleMenu()" class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/a-propos')}">A PROPOS</a>
					<a routerLink="/contact" (click)="toggleMenu()" class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/contact')}">CONTACT</a>
					<a routerLink="/faq" (click)="toggleMenu()" class="text-md mx-4 my-2 underline-animation"
					   [ngClass]="{'active': isActive('/faq')}">FAQ</a>
				</div>
			</div>

		</div>
	</div>
</header>


<main class="flex-grow">
	<router-outlet></router-outlet>
</main>


<footer class="w-full p-4 bg-background text-primary-green">
	<!-- Wrapper centré et limité à 1280px -->
	<div class="max-w-[1280px] mx-auto flex flex-col md:flex-row gap-8 md:gap-16 p-4 bg-background justify-between">

		<div class="flex-1/2">
			<div class="inline-block">
				<h2 class="text-lg leading-4 md:text-xl mb-4 text-primary-green font-bold border-b border-solid border-primary-green">
					ME CONTACTER :
				</h2>
			</div>

			<ul>
				<li class="flex items-center gap-2 mb-2">
					<i class="fa-duotone fa-solid fa-phone"></i>
					<a href="tel:0665942420" class="text-primary-green email-style">06 65 94 24 20</a>
				</li>
				<li class="flex items-center gap-2  mb-2">
					<i class="fa-solid fa-envelope"></i>
					<a href="mailto:romcaretattoo@gmail.com" class="text-primary-green email-style">romcaretattoo&#64;gmail.com</a>
				</li>
				<li>
					<a href="https://www.doctolib.fr/infirmier/paris/romain-keryhuel" class="font-bold"
					   target="_blank" rel="noopener noreferrer">
						<img src="./logo-doctolib.png" alt="plan d'accès" class="w-24 mb-6 mt-4"/>
					</a>
				</li>
				<div class="inline-block">
					<h2 class="text-lg leading-4 md:text-xl mb-4 text-primary-green border-b border-solid border-primary-green">
						ME SUIVRE :
					</h2>
				</div>
				<!-- Lien réseaux sociaux alignés à droite -->
				<div class="flex gap-4">
					<a href="https://www.instagram.com/romcare_tattoo/" class="text-primary-green"
					   target="_blank" rel="noopener noreferrer">
						<i class="fa-brands fa-square-instagram text-2xl social-icons"></i>
					</a>
					<a href="https://www.facebook.com/RomCareTattoo" class="text-primary-green"
					   target="_blank" rel="noopener noreferrer">
						<i class="fa-brands fa-square-facebook text-2xl social-icons"></i>
					</a>
				</div>

			</ul>
		</div>
		<div class="flex-1/2 ">
			<div class="inline-block">
				<h2 class="text-lg leading-4 md:text-xl mb-4 text-primary-green border-b border-solid border-primary-green">
					HORAIRES :
				</h2>
			</div>
			<ul class="leading-relaxed"> <!-- Ajout de la classe leading-relaxed -->
				<li>Lun : 10h - 17h</li>
				<li>Mar : 10h - 17h</li>
				<li>Mer : 10h - 17h</li>
				<li>Jeu : 10h - 17h</li>
				<li>Ven : 10h - 17h</li>
				<li>Sam : Fermé</li>
				<li>Dim : Fermé</li>
			</ul>
		</div>

		<div class="flex-1/2">
			<div class="inline-block">
				<h2 class="text-lg leading-4 md:text-xl mb-4 text-primary-green border-b border-solid border-primary-green">
					M'Y RENDRE :
				</h2>
			</div>
			<div class="flex items-center text-primary-green gap-2 mb-3">
				<i class="fa-solid fa-location-dot"></i>
				<p class=" text-primary-green">10-12 Villa Thoreton, 75015 Paris</p>
			</div>
			<div class="w-full h-35 rounded overflow-hidden shadow-lg mt-2">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.999709681986!2d2.2837228!3d48.8382942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6700cdeaf43e1%3A0xcd55b79d0fd8cdba!2s10%20Vla%20Thoreton%2C%2075015%20Paris!5e0!3m2!1sfr!2sfr!4v1639064342280!5m2!1sfr!2sfr"
					width="100%"
					height="100%"
					style="border:0;"
					allowfullscreen=""
					loading="lazy">
				</iframe>
			</div>
		</div>
		<div class="flex-1/2 flex-col ">
			<div class="inline-block">
				<h2 class="text-lg leading-4 md:text-xl mb-4 text-primary-green border-b border-solid border-primary-green">
					AFFILIATIONS :
				</h2>
			</div>
			<div class="flex md:flex-col">
				<img src="./logo-ordre-infirmier.png" alt="logo de l'order infirmier" class="w-20 md:w-24 "/>
				<img src="./logo-cpam.svg" alt="logo de la sécurité sociale" class="w-20 md:w-24 ml-10"/>
			</div>

		</div>
	</div>
	<div class="w-full mt-4 text-center">
		<hr class="border-t border-solid border-primary-green mb-4">
		<p class="text-primary-green font-bold "><small>Copyright 2024 - Tous droits réservés</small></p>
	</div>
</footer>



