<div class="w-full max-w-[1280px] p-5 md:p-10 flex justify-center mx-auto items-center text-primary-green ">
	<div class="w-full w-2/3 shadow-lg shadow-primary-green/40 p-8 md:p-16 flex flex-col justify-center items-center ">
		<h1 class="font-bold text-xl md:text-2xl mb-6 md:mb-10">TARIFS</h1>
		<div class="w-full p-5">
			<ul class="space-y-8 text-primary-green">
				<li>
					<h2 class="text-lg md:text-2xl font-bold">Première consultation explicative
						<span class="float-right font-bold">50€</span>
					</h2>
					<p class="mt-2 text-sm md:text-base">
						Explication du principe et déroulement de la dermopigmentation.<br>
						Recueil du consentement, questionnaire de santé, consignes, prise de photos (gros plans).<br>
						Le prix de la consultation est déduit de celui de la dermopigmentation.<br>
						Durée approximative : 1h.
					</p>
				</li>
				<hr class="border-t-1 border-primary-green">
				<li>
					<h2 class="text-lg md:text-2xl font-bold">Dermopigmentation aréole mammaire simple
						<span class="float-right font-bold">350€</span>
					</h2>
					<p class="mt-2 text-sm md:text-base">
						Soin pour une seule aréole mammaire.<br>
						Comprenant 2 séances de 2h environ, à intervalle de 45 jours.
					</p>
				</li>
				<hr class="border-t-1 border-primary-green">
				<li>
					<h2 class="text-lg md:text-2xl font-bold">Dermopigmentation aréole mammaire double
						<span class="float-right font-bold">550€</span>
					</h2>
					<p class="mt-2 text-sm md:text-base">
						Soin pour deux aréoles mammaires.<br>
						Comprenant 2 séances de 2h environ, à intervalle de 45 jours.
					</p>
				</li>
				<hr class="border-t-1 border-primary-green">
				<li>
					<h2 class="text-lg md:text-2xl font-bold">Retouche
						<span class="float-right font-bold">100€</span>
					</h2>
					<p class="mt-2 text-sm md:text-base">
						Séance d’entretien du tatouage, 3 ans après la dermopigmentation.<br>
						D’une durée de 1h, permet de densifier les teintes de couleurs.
					</p>
				</li>
			</ul>
		</div>
		<h1 class="font-bold text-xl md:text-2xl mt-8 mb-4">MOYENS DE PAIEMENT</h1>
		<p class="text-lg md:text-xl">Carte Bancaire & Espèces</p>
	</div>
</div>

